
<div class="lg:w-1/4 md:w-1/2 p-4 w-full text-center">
  <p class="text-xs title-font font-medium text-gray-400">受賞名</p>
  <h2 class="text-3xl text-yellow-500 my-2"><%= award.award_name %></h2>
  <a class="block relative h-48 rounded overflow-hidden">
    <%= image_tag 'sample.png', class: "object-cover object-center w-full h-full block" %>
  </a>
  <p class="text-xs title-font font-medium text-gray-500 my-2">ゲームタイトル</p>
  <p class="text-2xl text-yellow-500"><%= award.title %></p>
  <p class="text-xs title-font font-medium text-gray-500">授賞者：<%= award.user.name %></p>
  <%= link_to "詳細", award, class: "btn btn-outline btn-sm mt-4" %>
  <% if current_user.own?(award) %>
    <%= link_to "削除", award_path(award), class: "btn btn-active btn-ghost btn-sm mt-4 ml-2", data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
  <% end %>
</div>