<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= favicon_link_tag("favicon.ico") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <meta property="og:title" content="<%= page_title(yield(:title)) %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= asset_path('emblem.png') %>">
    <meta property="og:site_name" content="GameAward">
    <meta property="og:description" content="お気に入りゲームを受賞させよう">
    <meta name="twitter:card" content="summary_large_image"> <!-- Twitter用の設定 -->
  </head>

  <body class="w-auto">
      <% if user_signed_in? %>
        <%= render "layouts/logged_header" %>
      <% else %>
        <%= render "layouts/header" %>
      <% end %>
      <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
